[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]

remappings = [
    "forge-std/=lib/forge-std/src/"
]

[lint]
lint_on_build = false

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[profile.base]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for Base network
eth_rpc_url = "https://gateway.tenderly.co/public/base"

[profile.mainnet]
# Defaults
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.28"

evm_version = "Cancun"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]
# Settings for Base network
eth_rpc_url = "https://gateway.tenderly.co/public/mainnet"